body {
  background-color: #1d1d1d;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

button {
  background-color: #2a2a2a;
  border: none;
  color: #e0e0e0;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 16px auto;
}

button:hover {
  background-color: #3e3e3e;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #e0e0e0;
}